
.container {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    overflow: hidden;
    height: 100%;
}
.img {
    max-width: 100%;
}
.text {
    color: white;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 7vh;
    width: 100%;
}
.switch input {
    display: none;
}
.controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    margin-top: -8%;
    margin-right: 16%;
}
.controls label {
    background-color: white;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    opacity: 50%;
    transition: 0.5s;
}
.switch #first:checked ~ .controls #f, 
.switch #second:checked ~ .controls #s,
.switch #third:checked ~ .controls #t,
.switch #fourth:checked ~ .controls #fth {
    opacity: 1;
    width: 50px;
}
.switch #first:checked ~ .wraper {
    margin-left: 0;
} 
.switch #second:checked ~ .wraper {
    margin-left: -100vw;
}
.switch #third:checked ~ .wraper {
    margin-left: -200vw;
}
.switch #fourth:checked ~ .wraper {
    margin-left: -300vw;
}
.switch {
    height: 100vh;
}
.wraper {
    display: flex;
    transition: 0.5s;
    width: 400vw;
}
.wraper .box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    padding: 0 3%;
}
/* .wraper .theFirst {
    background-color: red;
}
.wraper .theSecond {
    background-color: blue;
}
.wraper .theThird {
    background-color: aquamarine;
}
.wraper .theFourth {
    background-color: pink;
}  */